.jumbotron {
	background-color: black;
	height: 600px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;

}

.jumbotron h1 {
	color: white;
	height: 600px margin-bottom:0px;
	font-family: monospace;
	font-weight: 600;
	font-size: 70px;
	text-transform: uppercase;
	letter-spacing: -5px;

}

.jumbotron h2 {
	color: white;
	height: 300px margin-bottom: 0px;
	font-family: Arial;
	font-weight: 300;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 5px;

}

.jumbotron h3 {
	color: white;
	height: 250px margin-bottom: 0px;
	font-family: monospace;
	font-weight: 300;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 5px;

}

.navbar-header a {
	font-size: 20px;
	font-family: monospace;
}

footer {
	padding-left: 20px;
	display: inline-block;
}

footer a {
	color: white;
	padding-left: 10px;
	padding-bottom: 0px
}

.btn-main {
	color: white;
	background-color: black;
	font-size: 30px;
	text-transform: uppercase;
	font-family: monospace;
	letter-spacing: 1.30px font-weight: 600;
	font-size: 18px;
	padding: 15px 40px;
	text-align: center;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}