
<!DOCTYPE html>
<html>
<head>
	<title>Leonardo</title>
	<meta charset="utf-8">
	<!--Bootstrap css-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Bootstrap js -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>	
	<!--css-->
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "sheet.css" %}">
</head>
<body>

<nav class="navbar navbar-default" style="background-color: white ">
	<div class="container-fluid" >		
		
	<!--logo header-->
	<div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	</button>
		<a href="/home/" class="navbar-brand" style="color: black">Leonardo</a>
	</div>
	<!--isi header-->
	<div class="collapse navbar-collapse" id="mainNavbar">
		<ul class="nav navbar-nav" >
		<li><a href="/home/">Home</a></li>
		<li><a href="/my_experience/">My Project</a></li>
		
		<li><a href="/lab-1/">About me</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/admin/"><span>LOGIN</span></a></li>
		</ul>
	</div>

	</div>
	<div class="jumbotron" style=height:1000px>
		<div class="container">	
		{% load static %}
		<img src="{% static "my_app/2.jpg" %}" >
		<h2><br><br>Saat ini saya sedang mengerjakan beberapa project antara lain:</h2> 
<a>- Kapan? Yang merupakan aplikasi social advertisement yang nantinya akan membantu para penyedia event,competitions,jobfair maupun acara amal mendapatkan target audience nya, saat ini Kapan? Masih dalam tahap beta pengembangan mobile app dan belum dipublikasikan, kelak aplikasi ini juga akan tersedia di berbagai platform dan tentunya web . </a>
<a><br/><br/>- PPS atau Perencanaan Program Studi aplikasi ini nantinya akan membantu ribuan mahasiswa baru untuk menemukan passion dan minat/bakat mereka , Rekomendasi Prodi nantinya akan dilihat dari hasil kalkulasi beberapa pertanyaan seputar minat/bakat, psikologi dan nilai serta prestasi di sekolah. Baru tersedia aplikasi desktopnya, dan tentu saja masih dalam tahap pengembangan, kelak juga akan multi platform.</a>
<a><br/><br/>- Suluhsuar adalah aplikasi mobile darurat yang akan dapat menampilkan lokasi keberadaan pengguna yang mengaktifkannya sehingga dapat digunakan untuk mengatasi keadaan darurat untuk meminta pertolongan. </a>

		</div>
	</div>

</nav>
	
</body>
</html>