
<!DOCTYPE html>
	
<html>
<head>
	<title>Leonardo</title>
	<meta charset="utf-8">
	<!--Bootstrap css-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Bootstrap js -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>	
	<!--css--> 
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "sheet.css" %}">
</head>
<body>

<nav class="navbar navbar-default" style="background-color: white ">
	<div class="container-fluid" >		
		
	<!--logo header-->
	<div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	</button>
		<a href="/home/" class="navbar-brand" style="color: black">Leonardo</a>
	</div>
	<!--isi header-->
	<div class="collapse navbar-collapse" id="mainNavbar">
		<ul class="nav navbar-nav" >
		<li><a href="/home/">Home</a></li>
		<li><a href="/my_experience/">My Project</a></li>
		
		<li><a href="/lab-1/">About me</a></li>
		</ul>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/admin/"><span>LOGIN</span></a></li>
		</ul>
	</div>

	</div>
	<div class="jumbotron" style=height:1000px>
		
		<div class="container">	
		{% load static %}
		<img src="{% static "my_app/2.jpg" %}" >
		
		<h1><br>Hello my name is {{ name }}</h1>
		<h2>NIM : {{ nim }}</h2>
    		<h2>I am {{ age }} years old</h2>
		<h2> Pandeglang 17 Juni 1999 </h2>
		<h3> TEKNIK INFORMATIKA INSTITUT TEKNOLOGI SUMATERA </h3>
		</div>
	</div>

</nav>
	
</body>
</html>