{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Leonardo</title>
	<meta charset="utf-8">
	<!--Bootstrap css-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Bootstrap js -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>	
	<!--css-->
	<% load static %>
	<link rel="stylesheet" type="text/css" href="{% static "sheet.css" %>"

</head>
<body>

<nav class="navbar navbar-default" style="background-color: black ">
	<div class="container-fluid" >		
		
	<!--logo header-->
	<div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	</button>
		<a href="#" class="navbar-brand" style="color: white">Leonardo</a>
	</div>
	<!--isi header-->
	<div class="collapse navbar-collapse" id="mainNavbar">
		<ul class="nav navbar-nav" >
		<li><a href="#">Home</a></li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Project<span class="caret"></span></a>
			<ul class="dropdown-menu">
			<li><a href="#">Pyhton</a></li>
			<li><a href="#">WebSite</a></li>
			<li><a href="#">Java</a></li>
			<li><a href="#">Design</a></li>	
			</ul>
		</li>
		<li><a href="file:///A:/Project%20bootstrap/about%20me.html">About me</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#"><span>LOGIN</span></a></li>
		</ul>
	</div>

	</div>
	<div class="jumbotron">
		<div class="container">
		<h1>My Job is Creating your Job</h1>
		
		<a class="btn-main" href="#">Hire me!</a>
		</div>
	</div>
{% load static %}
	<footer><img src="{% static "instagram.jpg" %}"> <a href="https://www.instagram.com/felonardo/?hl=en">@felonardo</a></footer>
{% load static %}	
	<footer><img src="{% static "wa.jpg" %}"> <a href="#">089529399696</a></footer>

</nav>
	
</body>
</html>